<section class="cpa-summary-section">
    <div class="cpa-table-header">
        <h3 class="cpa-table-title">Collaborative Practice Agreement in Place</h3>
        <button-field [iconPosition]="'left'">
            <button type="button" (click)="navigateToCreateCPA()" [style.marginRight]="'5px'">
                <iconsvg name="plus" [isFill]="true"></iconsvg>
                New CPA
            </button>
        </button-field>
    </div>
    <div class="cpa-table-wrapper">
        <table class="cpa-table">
            <thead>
                <tr class="table-heading-row">
                    <th>Dependant Practioner Name</th>
                    <th>Credentials</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="cpaDummyData.length">
                <tr *ngFor="let item of cpaDummyData || []" class="table-body-row">
                    <td data-cell="dependant practioner name">{{item.dependantPractionerName}}</td>
                    <td data-cell="credentials">{{item.credentials}}</td>
                    <td data-cell="actions">
                        <button-field [iconPosition]="'left'" [size]="'small'" [mode]="'text'">
                            <button type="button" (click)="navigateToDocument()" [style.marginRight]="'5px'">
                                <iconsvg name="visible">
                                </iconsvg>View
                            </button>
                        </button-field>
                        <button-field [iconPosition]="'left'" [size]="'small'" [mode]="'text'">
                            <button type="button" [style.marginRight]="'5px'">
                                <iconsvg name="pencil">
                                </iconsvg>Renew
                            </button>
                        </button-field>
                        <button-field [iconPosition]="'left'" [isDanger]="true" [size]="'small'" [mode]="'text'">
                            <button type="button" [style.marginRight]="'5px'">
                                <iconsvg name="trash">
                                </iconsvg>Rescind
                            </button>
                        </button-field>
                    </td>
                </tr> 
            </tbody>
            <div *ngIf="!cpaDummyData.length" class="no-content-message">
                <p>No content to show, Please add New CPA</p>
            </div>
        </table>
    </div>
</section>