.cpa-document-section {
    max-width: 75rem;
    margin: 0 auto;
    padding: 3.5rem;
    margin-top: 3.5rem;
    border: 1px solid var(--primary-color-gray-tint4);
    background-color: #fff;
}

.cpa-document-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cpa-document-logo {
    display: flex;
    gap: 1rem;
}

.cpa-document-logo img {
    width: auto;
    height: 60px;
    aspect-ratio: 1;
}

.logo-product-name {
    display: flex;
    flex-direction: column;
}

.logo-product-name p {
    margin: 0;
}

.name-up-to-data {
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
}

.name-care-pass {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: var(--primary-color-gray-tint1);
}

/* Document Body */

.cpa-document-body {
    padding: 1.5rem 0;
}

.cpa-document-title {
    text-align: center;
    font-weight: var(--font-weight-medium);
}

.cpa-document-list-item::marker {
    font-weight: var(--font-weight-medium);
    font-size: 1.25rem;
}

.list-item-title {
    font-weight: var(--font-weight-medium);
    font-size: 1.25rem;
    text-transform: uppercase;
}

.cpa-document-list-item table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--primary-color-gray-tint4);
}

.cpa-document-list-item table th {
    background-color: var(--primary-color-gray-tint5);
    font-weight: var(--font-weight-medium);
    padding: 0.5rem;
    border: 1px solid var(--primary-color-gray-tint4);
}

.cpa-document-list-item table td {
    padding: 0.5rem;
    border: 1px solid var(--primary-color-gray-tint4);
}

/* Secondary List */
.cpa-document-content-list2 {
    list-style: upper-alpha;
}

.cpa-document-list2-item::marker,
.list2-item-title {
    font-weight: var(--font-weight-medium);
    font-size: 1rem;
    margin: .75rem 0;
}

.signature-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 0.5rem;
}

.signature-wrapper > * {
    position: relative;
    text-align: center;
    font-size: .75rem;
    padding: 0.25rem;
}

.signature-wrapper > *::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--primary-color-gray);
    bottom: 0;
    left: 0;
}

.cpa-document-action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    position: sticky;
    z-index: 99;
    bottom: 2rem;
}

.cpa-document-action-buttons > * {
    box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
}