
<section class="cpa-document-section">
    <header class="cpa-document-header">
        <div class="wk-docs-logo cpa-document-logo">
            <img src="https://cdn.wolterskluwer.io/wk/fundamentals/2.x.x/logo/assets/wheel-large.svg" alt="Wolters Kluwer logo">
            <div class="logo-product-name">
                <p class="name-up-to-data">UpToDate</p>
                <p class="name-care-pass">Care Pass</p>
            </div>
        </div>
        <p class="cpa-document-text">CPA_{{cpaId}} </p>
    </header>
    <main class="cpa-document-body">
        <h2 class="cpa-document-title">Collaborative Practice Agreement</h2>
        <ol class="cpa-document-content-list">
            <!-- 1 -->
            <li class="cpa-document-list-item">
                <h3 class="list-item-title">Authority and purpose</h3>
                <p class="list-item-text">The Independent Practitioner named in Section 2, authorizes Dependent Practitioner(s) named in section 2, to treat patients pursuant to the parameters outlined in this agreement, in accordance with the laws and regulations of the State of <span class="cpa-parameter"> {{ jurisdiction}}</span></p>
            </li>
            <!-- 2 -->
            <li class="cpa-document-list-item">
                <h3 class="list-item-title">Parties to the agreement</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Independent Practitioner</th>
                            <th>Dependent Practitioner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ independentCompleteName}} , {{independentCredential}} </td>
                            <td>{{ dependentCompleteName }} , {{ dependentCredential}}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <!-- 3 -->
            <li class="cpa-document-list-item">
                <h3 class="list-item-title">Patients</h3>
                <p class="list-item-text">The following patients may be managed under this agreement: <span class="cpa-parameter"> {{ cpaPatients }} </span></p>
            </li>
            <!-- 4 -->
            <li class="cpa-document-list-item">
                <h3 class="list-item-title">Authorized services</h3>
                <ol class="cpa-document-content-list2">
                    <li class="cpa-document-list2-item">
                        <h4 class="list2-item-title">Medical conditions:</h4>
                        <p class="list2-item-text">Dependent Practitioners may treat patients for the following medical conditions: <span class="cpa-parameter"> {{ medicalConditions }} </span></p>
                    </li>
                    <li class="cpa-document-list2-item">
                        <h4 class="list2-item-title">Treatment protocol:</h4>
                        <p class="list2-item-text">Dependent Practitioners shall utilize the following guidance when providing care: <span class="cpa-parameter"> {{ protocol }} </span></p>
                    </li>
                    <li class="cpa-document-list2-item">
                        <h4 class="list2-item-title">Authorized services:</h4>
                        <p class="list2-item-text">Dependent Practitioners may perform the services below, in accordance with 4(a) and 4(b) and limited to the scope of the Dependent Practitioner’s education, training, and experience: <span class="cpa-parameter"> {{ services }} </span></p>
                    </li>
                    <li class="cpa-document-list2-item">
                        <h4 class="list2-item-title">Treatment arbitration:</h4>
                        <p class="list2-item-text">In the event of differences in clinical judgement between the Independent Practitioner and the Dependent Practitioner regarding the best course of treatment for a patient, the parties shall communicate and attempt to arrive at consensus.  If consensus cannot be reached, the Independent Practitioner’s clinical judgment shall prevail.</p>
                    </li>
                </ol>
            </li>
            <!-- 5 -->
            <li class="cpa-document-list-item">
                <h3 class="list-item-title">Licensing, credentialing, and continuing education</h3>
                <p class="list-item-text">Dependent Practitioners shall maintain clinical licenses, certifications, and credentialing.</p>
                <p class="list-item-text">If a Dependent Practitioner’s license is suspended, revoked, or otherwise sanctioned, the Dependent Practitioner shall immediately suspend care under this agreement and shall notify the Independent Practitioner within 72 hours to facilitate patient care transition.</p>
            </li>
            <!-- 6 -->
            <li class="cpa-document-list-item">
                <h3 class="list-item-title">Liability insurance</h3>
                <p class="list-item-text">All parties to this agreement shall maintain at least $250,000 (per occurrence) of liability insurance.</p>
            </li>
            <!-- 7 -->
            <li class="cpa-document-list-item">
                <h3 class="list-item-title">Patient informed consent</h3>
                <p class="list-item-text">Dependent Practitioner(s) shall obtain informed consent from each patient prior to initiating care. Contact information for the Independent Practitioner shall be provided.  The patient shall be informed that they are receiving care pursuant to a collaborative practice agreement with the Independent Practitioner.</p>
            </li>
            <!-- 8 -->
            <li class="cpa-document-list-item">
                <h3 class="list-item-title">Documentation</h3>
                <p class="list-item-text">Dependent Practitioner(s) shall maintain records documenting each patient encounter and each service provided under Section 4.  This documentation shall be readily retrievable and accessible to the Dependent Practitioner. These records shall be retained for at least 7 years from the date of service.</p>
            </li>
            <!-- 9 -->
            <li class="cpa-document-list-item">
                <h3 class="list-item-title">Communication and oversight</h3>
                <p class="list-item-text">Upon completion of initial assessment for each new patient, and at least annually for each established patient, the Dependent Practitioner shall notify the Independent Practitioner of services provided under Section 4.</p>
                <p class="list-item-text">In order to assess clinical quality, the Dependent Practitioner shall review a representative sample of care provided under this agreement <span class="cpa-parameter"> {{ frequecy }} </span></p>
            </li>
            <!-- 10 -->
            <li class="cpa-document-list-item">
                <h3 class="list-item-title">Expiration and rescindment</h3>
                <p class="list-item-text">This agreement expires 1 year from the initial effective date of <span class="cpa-parameter"> {{effectiveDate}} </span>.  Any party may rescind this agreement prior to the expiration date, for any reason, by providing written documentation.  Parties shall facilitate care coordination for existing patient to prevent care disruption.</p>
            </li>
            <!-- 11 -->
            <li class="cpa-document-list-item">
                <h3 class="list-item-title">Signatures</h3>
                <h4 class="list2-item-title">Independent practitioner</h4>
                <div class="signature-wrapper">
                    <p class="list-item-text">{{independentCompleteName }}, {{ independentCredential}} </p>
                    <p class="list-item-text">-- (Signature) --</p>
                    <p class="list-item-text"> {{ creationDate }} </p>
                </div>
                <h4 class="list2-item-title">Dependent practitioner</h4>
                <div class="signature-wrapper">
                    <p class="list-item-text">{{dependentCompleteName }}, {{ dependentCredential}}</p>
                    <p class="list-item-text">-- (Signature) --</p>
                    <p class="list-item-text"> {{ creationDate }} </p>
                </div>
            </li>
        </ol>
    </main>    
    <div class="cpa-document-action-buttons">
        <button-field [iconPosition]="'left'">
            <button [routerLink]="''" type="button">
                <iconsvg name="save"></iconsvg>Save
            </button>
        </button-field>
        <button-field [iconPosition]="'left'" [isDanger]="true">
            <button [routerLink]="''" type="button">
                <iconsvg name="close"></iconsvg>Close
            </button>
        </button-field>
    </div>
</section>