<div [ngClass]="'cg-story'">
    <banner mode="research">
        <banner-brand-suite [routerLink]="'/'" (brandClick)="logEvent('brand click')" href="#"
            srLabel="Go to Wolters Kluwer Care Pass X home page" [isPreventDefault]="true" *bannerBrandSuite>
            <banner-brand-logo *bannerBrandLogo>
            </banner-brand-logo>
            <banner-brand-inline productName="Care Pass" *bannerBrand>
            </banner-brand-inline>
        </banner-brand-suite>
        <banner-right *bannerRight>
            <button-group [threshold]="272" dropdownToggleMode="gray">
                <banner-action-bar-item *buttonGroupItem>
                    <button-field [mode]="'text'" [iconPosition]="'left'">
                        <a [routerLink]="'/'" (click)="logEvent('history')" href="#" aria-current="page">
                            <iconsvg name="customers">
                            </iconsvg>Collaborative Practice Agreement
                        </a>
                    </button-field>
                </banner-action-bar-item>
                <banner-action-bar-item *buttonGroupItem>
                    <button-field [mode]="'text'" [iconPosition]="'left'">
                        <a (click)="logEvent('favorites')" href="#">
                            <iconsvg name="book-page">
                            </iconsvg>Oversight
                        </a>
                    </button-field>
                </banner-action-bar-item>
                <dropdown-list-anchor-item [routerLink]="'/'" (itemClick)="logEvent('history')" [srCurrent]="'page'"
                    *buttonGroupDropdownListItem>
                    <iconsvg name="customers">
                    </iconsvg>Collaborative Practice Agreement
                </dropdown-list-anchor-item>
                <dropdown-list-anchor-item (itemClick)="logEvent('favorites')" *buttonGroupDropdownListItem>
                    <iconsvg name="book-page">
                    </iconsvg>Oversight
                </dropdown-list-anchor-item>
            </button-group>
        </banner-right>
    </banner>
</div>